* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #333;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
}

.tile {
  display: inline-grid;
  padding: 10px;
  grid-template-columns: repeat(var(--size_x), 60px);
  grid-template-rows: repeat(var(--size_y), 60px);
  gap: 0px;
  background-color: #777;
}

.tile > * {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1px solid #666;
}

.space.top-wall {
  border-top: 2px solid black;
}

.space.right-wall {
  border-right: 2px solid black;
}

.space.bottom-wall {
  border-bottom: 2px solid black;
}

.space.left-wall {
  border-left: 2px solid black;
}

.space.top-door {
  border-top: 2px solid yellow;
}

.space.right-door {
  border-right: 2px solid yellow;
}

.space.bottom-door {
  border-bottom: 2px solid yellow;
}

.space.left-door {
  border-left: 2px solid yellow;
}

.space.water {
  background-color: rgba(0, 0, 255, 0.5);
}

.space.obstacle {
  background-color: rgba(255, 0, 0, 0.5);
}

.space.void {
  background-color: black;
  border: 0px;
}

.hero {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid black;
}

.hero.healer {
  background-color: rgb(0, 0, 150);
}

.hero.warrior {
  background-color: rgb(150, 0, 0);
}

.hero.scout {
  background-color: rgb(0, 150, 0);
}

.hero.mage {
  background-color: rgb(200, 200, 0);
}

.monster {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

.monster.minion {
  background-color: white;
}

.monster.master {
  background-color: red;
}

.monster.top-left {
  border-top-left-radius: 33%;
}

.monster.top-right {
  border-top-right-radius: 33%;
}

.monster.bottom-left {
  border-bottom-left-radius: 33%;
}

.monster.bottom-right {
  border-bottom-right-radius: 33%;
}
